<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Profil - TASI Trainingsassistent</title>
    <link rel="stylesheet" href="/css/960_12_col_rtl.css" />
    <link rel="stylesheet" href="/css/reset_rtl.css" />
    <link rel="stylesheet" href="/css/formatierung.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/accordion.js"></script>
    <script src='js/menu.js'></script>

    <script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true
      });
    } );
    </script>
  </head>


  <body>
<!--START Wrapper-->
    <div class="container_12">

<!--START Menu-->
	<div class="grid_12">
		<a href="/profil.html"><img src="/Bilder/logo_small.png" width="100" alt="TasiLogo" style="margin:5px"/></a>
		<div class="nav">
			<ul class='menu'>
				<li><a  href="/start">Profil</a></li>
				<li><a  href="/uebungssammlung">Übungen</a></li>
				<% if (roleid == 1) { %>
					<li><a>Trainerbereich</a>
						<ul class='submenu'>
							<li><a href="/createtrainingplan">Plan erstellen</a></li>
							<li><a href="/overview">Spielerauswertung</a></li>
							<li><a href="/nutzerverwaltung">Nutzerverwaltung</a></li>
						</ul>
					</li>
				<% } %>
				<% if (roleid == 2) { %>
					<li><a>Mein Training</a>
						<ul class='submenu'>
							<li><a href="/training">Trainingspläne</a></li>
							<li><a href="/achievements">Meine Werte anzeigen</a></li>
						</ul>
					</li>
				<% } %>
				<li><a href="/logout">Ausloggen</a></li>
			</ul>
		</div>
	</div>
<!--END Menu-->  

      <div class="grid_6">
        <br>
      </div>

      <div class="grid_4">
        <br>
        <h4>Hallo <%= username %> heute ist ein guter Tag um zu trainieren!</h4><br>
      </div>

      <div class="grid_2">
        <br>
        <img src="<%= bild %>" width="140px" alt="TASILogo" /><br>
      </div>

      <hr>

      <div class="grid_6">
        <h4>Trainingspläne</h4>
      </div>

      <div class="grid_6">
        <h4>Dein Profil</h4>
      </div>

      <div class="grid_6">
        <div class="accordion">

          <% var i = 1; %>
          <% for(let entry of plan) { %>
            <% var link = "/training" %>
            <div class="accordion-section">
                <a class="accordion-section-title" href=<%= "#accordion-"+i %>><%= entry.Bezeichnung %></a>
                <div class="accordion-section-content" id=<%= "accordion-"+i %> >
                  <a href="<%= link %>">Zum Training</a>
                  <p><%= entry.beschreibung %></p>
                </div><!--end .accordion-section-content-->
            </div><!--end .accordion-section-->
            <% i++; %>
          <% }; %>
          
        </div><!--end .accordion-->
        <br>
        <a href="mailto:beispiel@email.de?subject=Fragen%20zum%20Trainingsplan">Ich habe Fragen zu meinem Trainingsplan</a>
      </div>

      <div class="grid_4">
        <p><%= vorname %> <%= nachname %></p>
        <p><%= status %></p>
        <p><%= mannschaft %></p>
        <p><%= position %></p>
        <p><%= geburtstag %></p>
        <p><%= mail %></p>
        <p><%= adresse %></p>  
      </div>

      <div class="grid_2">
        <h6>Name</h6>
        <h6>Status</h6>
        <h6>Mannschaft</h6>
        <h6>Position</h6>
        <h6>Geburtstag</h6>
        <h6>E-Mail</h6>
        <h6>Adresse</h6>
      </div>

      <hr>
      
<!--START Footer-->
      <div class="grid_6">
        <p align="right">Kontakt | Impressum </p>
      </div>
<!--END Footer-->

    </div>
<!--END Wrapper-->

  </body>
</html>
