<script>
  function activate(p1, p2) {
    var ausguebung = document.getElementsByClassName("list-group-item active");
    if (ausguebung.length > 0) {
      ausguebung["0"].className = "list-group-item";
    }
    ausguebung = document.getElementById(p1);
    ausguebung.className = ausguebung.className + " active";

    //document.getElementById("uebungsbezeichnung").textContent = p3[p1].Bezeichnung;
    
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200) {
        document.getElementById("einzelneuebung").innerHTML = this.responseText;
      }
    };
    xhttp.open("GET", "/uebunganzeigen/" + p1 + "/" + p2, true);
    xhttp.send();
  }

  function changeplan() {
    var redir = document.getElementById("plans").options[document.getElementById("plans").selectedIndex].value;
    var url = "/training/" + redir;
    window.location.href = url;
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Profil - TASI Trainingsassistent</title>
    <link rel="stylesheet" href="/css/960_12_col_rtl.css" />
    <link rel="stylesheet" href="/css/reset_rtl.css" />
    <link rel="stylesheet" href="/css/formatierung.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='js/menu.js'></script>

  </head>


  <body>
    <div class="container_12">




      <!--Menü-->
      <div class="grid_12">
          <a href="/profil.html"><img src="/Bilder/logo_small.png" width="100" alt="TasiLogo" style="margin:5px"/></a>
          <div class="nav">
        
          <ul class='menu'>
          <li><a  href="/start">Profil</a></li>
          <li><a  href="/uebungssammlung">Übungen</a></li>
          <li><a  href="/training">Training</a></li>
          <% if (roleid == 1) { %>
            <li><a href="trainer.html">Trainerbereich</a>
                <ul class='submenu'>
                    <li><a href="/createtrainingplan">Plan erstellen</a></li>
                    <li><a href="/nutzerverwaltung">Nutzerverwaltung</a></li>
                </ul>
            </li>
          <% } %>
          <% if(roleid == 2) { %>
            <li><a href="trainerbereich.html">Spielerbereich</a></li>
          <% } %>
          <li><a href="/logout">Ausloggen</a></li>
        </ul></div>
        </div>

      <div class="grid_12" id="trainingsbezeichnung">
        <h1>Trainingspläne</h1>
      </div>
      <hr>

      <div class="grid_12">
        <select id="plans" class="auswahl" name="Spieler" style="width: 365px" >
          <option disabled selected>Trainingsplan auswählen</option>
          <optgroup label="Bestehende Pläne">
            <% for(entry of allplans) { %>
              <option value='<%= entry.TrainingsID %>'><%=entry.Bezeichnung %></option>
            <% } %>
          </optgroup>
        </select>
        <button class="uebungenanfuegen" style="width:90px" onclick="changeplan()">Auswählen</button>
      </div><br></br>      

      <div id="einzelneuebung">
        <div class="grid_6" id="uebungsbezeichnung">
          <h4><%= uebung[0].Bezeichnung %></h4>
        </div>

        <div class="grid_6">
          <h4><%= trainingsbezeichnung %></h4>
        </div>

        <div class="grid_6">
          <iframe src="<%= uebung[0].Video %>" width="460" height="260" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe><br>


          <div id="bereich">
            <p>Kategorie: <%= uebung[0].Kategorie %> | Unterkategorie: <%= uebung[0].Unterkategorie %> | Niveau: <%= uebung[0].Niveau %> | Hilfsmittel: <%= uebung[0].Hilfsmittel %> | Dauer: <%= uebung[0].Dauer %></p>
          </div>

          <%= uebung[0].Beschreibung %>
          <br>
          <br>
        </div>
      </div>

      <div class="grid_6">

        <div class="list-group">

            <% var i = 1; %>
            <% for(let entry of uebung) { %>
              <a href="#" class="list-group-item" id="<%= entry.UebungsID %>" name="<%= i %>" onclick="activate(this.id, document.getElementById('trainingsbezeichnung').textContent)">
                  <h4 class="list-group-item-heading"><%= entry.Bezeichnung %></h4>
                  <p class="list-group-item-text">Unterkategorie: <%= entry.Kategorie %> |  Niveau: <%= entry.Niveau %> | Hilfsmittel: <%= entry.Hilfsmittel %> | Dauer: <%= entry.Dauer %></p>
              </a>
              <% i++; %>
            <% }; %>
        </div>

      </div>

      <hr>

      <div class="grid_6">
        <p align="right">Kontakt | Impressum </p>
      </div>

    </div>
    <!-- end .container_12 -->

  </body>
</html>
