<script>
	function listDetails(uebung){
		var video = uebung.Video;
		var uebungsname = uebung.Bezeichnung;
		var uebungskat = uebung.Kategorie;
		var uebungssubkat = uebung.Unterkategorie;
		var niveau = uebung.Niveau;
		var hilfsmittel = "fff";
		var dauer = uebung.Dauer;
		var beschreibung = uebung.Beschreibung;
		
		document.getElementById("uebungsbezeichnung").innerHTML = '<h4>' + uebungsname + '</h4>';
		document.getElementById("uebungsvideo").innerHTML = '<iframe src=' + video + ' width="460" height="260" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>'
		document.getElementById("bereich").innerHTML = '<p>Kategorie: ' + uebungskat +  ' | Unterkategorie: ' + uebungssubkat + ' | Niveau: ' + niveau + ' | Hilfsmittel: ' + hilfsmittel + ' | Dauer: ' + dauer + '</p>';
		document.getElementById("beschreibung").innerHTML = beschreibung;
		document.getElementById("btnSwitch").style.visibility = "visible";
	}  
	

	function insert(val){
		var attributes = {uebungsattribut: "1"};
		for(i=0; i<val.length; i++){
			if(val[i].name == 1){
				attributes["1"] = val[i].value;
			};
			
			if(val[i].name == 2){
				attributes["2"] = val[i].value;
			};
			
			if(val[i].name == 3){
				attributes["3"] = val[i].value;
			};
			
			if(val[i].name == 4){
				attributes["4"] = val[i].value;
			};
			
			if(val[i].name == 5){
				attributes["5"] = val[i].value;
			};
		};
		    $.ajax({
				url: "/training",
				method: "POST",            
				dataType: "JSON",
				data: attributes,
				success: function(data){
					alert("Wert gespeichert");
				}
			});
	}
	
	function setup(data){
		document.getElementById("eingabe").innerHTML = "";
		var inputs = "";
		data.forEach(function(entry){
			var labelUebungsattribut = '<label>'+ entry.Bezeichnung + '</label>';	
			if (entry.UebungsattributID == 1) {
				inputUebungsattribut = '<br><br><div id="counters"><input type="number" id="clicks" placeholder="0" class="numberInputBox" name='+ entry.UebungsattributID + '><button type="button" onClick="onClickMinus()" class="minusButton">-</button><button type="button" onClick="onClickPlus()" class="plusButton">+</button><br><br><br><br></div>';
			}
			if (entry.UebungsattributID == 2) {
				inputUebungsattribut = '<input type="range" min="1" max="5" value="3" step="1" onChange="sliderChange(this.value)" name=' + entry.UebungsattributID + '><p><a id="sliderStatus"></a></p>';
			}		
			if (entry.UebungsattributID == 3 || entry.UebungsattributID == 5) {
				inputUebungsattribut = '<div id="stoppuhr"><p class="timeInputBox" id="zeigeZeit">00:00:0</p><button type="button" id="resetButton" class="emptyResetButton" onclick="resetTimer()">Reset</button><button type="button" id="lapButton" class="resetLapButton" onclick="lap()" style="display:none">Lap</button><button type="button" id="startPauseButton" class="startButton" onclick="startPause()">Start</button><p id="lapsListe"></p><input type="number" step="0.1" id="sektime" name=' + entry.UebungsattributID + ' ><br><br></div>';
			}	
			if (entry.UebungsattributID == 4) {
				inputUebungsattribut = '<input type="number" placeholder="0" class="numberInputBox" name=' + entry.UebungsattributID +'>';
			}			
			inputs += labelUebungsattribut;
			inputs += inputUebungsattribut;
		});	
		var inputUebungsattribut = '<input type="hidden" name="uebungsattribut" value="uebungsattribut">'
		var btn = '<input type="submit" class="btn" value="eintragen">'
		document.getElementById("eingabe").innerHTML = '<form onsubmit="insert(this);return false">'+inputUebungsattribut+inputs+btn+'</form><br><br>'
	}	
	
	function listEingabe(uebungsID){
		$.ajax({
			url: "/training",
			method: "POST",            
			dataType: "JSON",
			data: {	uebungsID: uebungsID },
			success: function(data) {
				setup(data);
			}
		});
	}
	
	function switcher(){
		var status = document.getElementById("btnSwitch").value;
		if(status == "off"){
			document.getElementById("details").style.visibility = "visible";
			document.getElementById("btnSwitch").value = "on";
			document.getElementById("btnSwitch").innerHTML = "Informationen zur √úbung ausblenden";
		}else{
			document.getElementById("details").style.visibility = "hidden";
			document.getElementById("btnSwitch").value = "off";
			document.getElementById("btnSwitch").innerHTML = "Informationen zur √úbung einblenden";
		}
	}
	
//START Michael
	//Stoppuhr
	  var time = 0;
	  var lapTime = 0;
	  var lapCounter = 0;
	  var running = false;
	  var timer;
	
	  function startPause() {
		  if (!running) {
			  running = true;
			  increment();
			  document.getElementById('lapButton').style.display = "inline";
			  document.getElementById('startPauseButton').innerHTML = "Pause";
			  document.getElementById('startPauseButton').className = 'pauseButton';
			  document.getElementById('resetButton').style.display = "none";
		  } else if (running) {
			  running = false;
			  clearTimeout(timer);
			  document.getElementById('lapButton').style.display = "none";
			  document.getElementById('startPauseButton').innerHTML = "Resume";
			  document.getElementById('startPauseButton').className = 'startButton';
			  if (time > 0) {
				  document.getElementById('resetButton').style.display = "inline";
				  document.getElementById('resetButton').className = 'resetlapButton';
				  document.getElementById('sektime').value = time/10;
			  }
		  }
	  }
	
	
	  //Reset - Alles wieder auf 0
	  function resetTimer() {
		  time = 0;
		  lapCounter = 0;
		  running = false;
		  if (!!timer){
			  clearInterval(timer);
			  timer = null;
		  }
	
		  document.getElementById('startPauseButton').innerHTML = "Start";
		  document.getElementById('zeigeZeit').innerHTML = "00:00:0";
		  document.getElementById('lapsListe').innerHTML = "";
		  document.getElementById('resetButton').className = 'emptyResetButton';
	  }
	
	  //Rundenzeiten
	  function lap() {
		  lapCounter++;
		  let p = document.createElement('OL');
		  let text = document.createTextNode('Runde ' + lapCounter + ': ' +timeToString(lapTime));
		  p.appendChild(text);
		  document.getElementById('lapsListe').appendChild(p);
		  lapTime = 0;
	  }
	  //Rundenlistenzuwachs
	  function increment() {
		  if (running) {
			  timer = setInterval(function() {
				  time++;
				  lapTime++;
				  //var hours = Math.floor(time / 10 / 60 / 60);
				  document.getElementById('zeigeZeit').innerHTML = timeToString(time);
				  //increment();
			  }, 100);
		  }
	  }
	
	  function timeToString(time) {
		  var mins = Math.floor(time / 10 / 60);
		  var secs = Math.floor(time / 10 % 60);
		  var tenths = time % 10;
	
		  if (mins < 10) {
			  mins = "0" + mins;
		  }
		  if (secs < 10) {
			  secs = "0" + secs;
		  }
		  return mins + ":" + secs + ":" + tenths;
	  }
	
	//Slider
	  function sliderChange(val) {
		  document.getElementById('sliderStatus').innerHTML = val;
		  if (val == 1) {
			  document.getElementById('sliderStatus').innerHTML = "stark ausbauf√§hig"
		  }
		  if (val == 2) {
			  document.getElementById('sliderStatus').innerHTML = "ausbauf√§hig"
		  }
		  if (val == 3) {
			  document.getElementById('sliderStatus').innerHTML = "mittelm√§ssig"
		  }
		  if (val == 4) {
			  document.getElementById('sliderStatus').innerHTML = "gut"
		  }
		  if (val == 5) {
			  document.getElementById('sliderStatus').innerHTML = "sehr gut"
		  }
	
	  }
	
	//Counter
	  var clicks = 0;
	  function onClickPlus() {
		  clicks += 1;
		  document.getElementById("clicks").value = clicks;
	  }
	  function onClickMinus() {
		  clicks -= 1;
		  document.getElementById("clicks").value = clicks;
	  }
//END Michael

</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Profil - TASI Trainingsassistent</title>
    <link rel="stylesheet" href="/css/960_12_col_rtl.css" />
    <link rel="stylesheet" href="/css/reset_rtl.css" />
    <link rel="stylesheet" href="/css/inputfields.css" />
    <link rel="stylesheet" href="/css/formatierung.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='js/menu.js'></script>
  </head>


  <body>
<!--START Wrapper-->
    <div class="container_12">

<!--START Menu-->
	<div class="grid_12">
		<a href="/profil.html"><img src="/Bilder/logo_small.png" width="100" alt="TasiLogo" style="margin:5px"/></a>
		<div class="nav">
			<ul class='menu'>
				<li><a  href="/start">Profil</a></li>
				<li><a  href="/uebungssammlung">√úbungen</a></li>
				<% if (roleid == 1) { %>
					<li><a>Trainerbereich</a>
						<ul class='submenu'>
							<li><a href="/createtrainingplan">Plan erstellen</a></li>
							<li><a href="/overview">Spielerauswertung</a></li>
							<li><a href="/nutzerverwaltung">Nutzerverwaltung</a></li>
						</ul>
					</li>
				<% } %>
				<% if (roleid == 2) { %>
					<li><a>Mein Training</a>
						<ul class='submenu'>
							<li><a href="/training">Trainingspl√§ne</a></li>
							<li><a href="/achievements">Meine Werte anzeigen</a></li>
						</ul>
					</li>
				<% } %>
				<li><a href="/logout">Ausloggen</a></li>
			</ul>
		</div>
	</div>
<!--END Menu-->  

<!--START Headline-->
		  <div class="grid_12" id="trainingsbezeichnung">
			<h1>Mein Training</h1>
		  </div>      
<!--END Headline-->

      <hr>
      
<!--START Dropdown Training ausw‰hlen-->
		<div class="grid_12">
			<form action="/training" method="post">
				<select id="plans" class="auswahl" name="trainingsID" style="width: 365px" onchange="this.form.submit()">
					<option disabled selected>Trainingsplan ausw√§hlen</option>
					<optgroup label="Bestehende Pl√§ne">
						<% for(entry of allplans) { %>
						  <option value='<%= entry.TrainingsID %>'><%=entry.Bezeichnung %></option>
						<% } %>
					</optgroup>
				</select>
			</form>
		</div><br></br>  
<!--END Dropdown Training ausw‰hlen-->  


<!--START ‹bungen auflisten-->
	  <div class="grid_12" id="trainingsbezeichnung">
		<% if(training){ %>
			<h4><%= training[0].Bezeichnung %></h4>
		<% } %>
	  </div>   

      <div class="grid_6" style="float:left">
			<div class="list-group">
				<% var i = 1; %>
				<% if(uebung){ %>
					<% for(let entry of uebung) { %>
						<% var details = JSON.stringify(entry);%>
						<a href="#" class="list-group-item" id="<%= entry.UebungsID %>" name="<%= i %>" onclick="listDetails(<%= details %>); listEingabe(<%= entry.UebungsID %>);">
						  <h4 class="list-group-item-heading"><%= entry.Bezeichnung %></h4>
						  <p class="list-group-item-text">Kategorie: <%= entry.Kategorie %> |  Niveau: <%= entry.Niveau %> | Hilfsmittel: <%= entry.Hilfsmittel %> | Dauer: <%= entry.Dauer %></p>
						</a>
						<% i++; %>
					<% }; %>
				<% }; %>
			</div>
      </div>
<!--END ‹bungen auflisten-->

<!--START Werte eingeben-->
	<div id="eingabe" class="grid_6"></div>
<!--START Werte eingeben-->

<div class="grid_6"><button class="btn" id="btnSwitch" type="button" value="off" onclick="switcher()" style="visibility:hidden">Informationen zur √úbung anzeigen</button></div>


<!--START ‹bungsdetails-->
	<div id="details" class="grid_6" style="visibility:hidden; margin-top:20px; margin-right:auto;">
		<div class="grid_6" id="uebungsbezeichnung"></div>
		<div class="grid_6" id="uebungsvideo"></div>
		<div class="grid_6" id="bereich"></div>
		<div class="grid_6" id="beschreibung"></div>
		<br><br> 
	</div>
<!--END ‹bungsdetails-->

      <hr>
<!--START Footer-->
      <div class="grid_6">
      	<p align="right">Kontakt | Impressum </p>
      </div>
<!--END Footer-->

    </div>
<!--END Wrapper-->

  </body>
</html>


